<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="Images/favicon.png" type="image/png" />
</head>
<body>
    {{>header}}
    <div class="contact_div">
        <h2>Email: <span>akinfo554@gmail.com</span></h2>
      <span>My Social links:</span>
         <div class="social_links">
    <a href="https://www.facebook.com/profile.php?id=100005266396367" target="_blank">
      <img src="https://img.icons8.com/color/48/null/facebook-new.png" />
    </a>
     <a href="https://github.com/ArunKatoch25-july-2000" target="_blank">
      <img src="https://img.icons8.com/sf-black-filled/48/null/github.png"/>
    </a>
   
    <a href="https://www.linkedin.com/in/arun-katoch-885a1419b/" target="_blank">
      <img src="https://img.icons8.com/color/48/null/linkedin-circled--v1.png"/>
    </a>
     <a href="https://www.instagram.com/a.r.u.n_katoch/" target="_blank">
      <img src="https://img.icons8.com/fluency/48/null/instagram-new.png"/>
    </a>
   
  </div>
    </div>
     {{>footer}}
     <script src="js/main.js"></script>
</body>
</html>