
    <header id="header">
      <div id="logo"><img src="Images/snowflake.png" alt="snowflake" id="snowflake"><span>Ak-Weather</span></div>
      <nav id="navbar">
        <ul id="nav-lists">
          <li><a href="/" class="links">Home</a></li>
          <li><a href="/about" class="links">About us</a></li>
          <li><a href="/weather" class="links">Weather</a></li>
          <li><a href="/contact" class="links">Contact</a></li>
        </ul>
      </nav>
      <a href="#" id="menu-btn">&#9776</a>
    </header>
    <div id="small-devices">
      <nav id="small-navbar">
        <ul id="small-nav-lists">
          <a href="#" id="close-btn">&times</a>
          <li><a href="/" class="links">Home</a></li>
          <li><a href="/about" class="links">About</a></li>
          <li><a href="/weather" class="links">Weather</a></li>
          <li><a href="/contact" class="links">Contact</a></li>
        </ul>
      </nav>
    </div>

